.greeting-text {
    font-family: "Telegraf";
    font-size: 3rem;
    font-weight: bold;
}

.greeting-user {
    font-weight: normal;
}

@media (prefers-color-scheme: light) {
    .greeting-text {
        color: black;
    }
}